[user]
	name = StepaniaH
	email = StepaniaH0907@gmail.com
[credential]
	helper = osxkeychain
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	excludesfile = /Users/stepaniah/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[http]
	proxy = http://127.0.0.1:6152
[https]
	proxy = http://127.0.0.1:6152
